table {
    border: 1px solid #2C3333;
    border-spacing: 0;
}



th, td {
    border: 1px solid #2C3333;
    padding: 10px;
}


th {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-style: normal;
}


td {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.title_text_table {
    font-size: 24px;
    margin-bottom: 20px;
}

.title_table {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 30px;
}


